.carousel{
    width: 70%;
    margin: auto;
    padding-top: 20px;
}


.card{
    margin: 30x;
}

.col{
    display: flex;
    justify-content: center;
}

.CardImage{
    justify-content: center;
    text-align: center;
}